h2 {
  font-family: comic Arial, Helvetica, sans-serif;
  font-size: large;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}

li {
  line-height: 1.5em;
}
